
.unit-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 10px
}

.counter {
    display: flex;
    align-items: center;
}

.attacker-counter {
    display: inherit;
    justify-content: start;
}

.defender-counter {
    display: inherit;
    justify-content: end;
}

.unit-name {
    text-align: center;
    min-width: 110px;
}

.decrease-unit-btn {
    margin-right: 5px;
}

.increase-unit-btn {
    margin-left: 5px;
}

.unit-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.unit-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
